body{
	background-color: lightblue;
	overflow: hidden;

}
#front{
	text-align: center;
	font-family: "Open Sans";
	font-size: 50px;
	margin-top: 50vh;
	display:block;
	margin:auto;
	color: white;
	font-weight: bolder;
}

#cloud1{
	position: relative;
	padding-bottom: 5vh;
	width: 400px;
	height: 250px;
	top: 5%;
	left: 0px;
	z-index: 9;
}



#cloud2{
	position: absolute;
	display:block;
	width: 400px;
	height: 250px;
	z-index: 9;	
	padding-top:-10px;
	top:70vh;
	right:0;
	
}

#small{
	text-align: center;
	color: black;
	font-size: 20px;
	position: relative;
	top: 20px;
	visibility: visible;
	font-family: "OCR A Std";
}

#wrapper2{
	width: 300px;
	display: block;
	margin: auto;
	position: relative;
	left: 200px;
	top: 200px;
}
  
#wrapper{

	display: block;
	margin: auto;
	position: relative;
	width:100vw;
	height:100vh;
}